body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.fondo{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('taj.jpg') center/cover no-repeat;
    opacity: 0.7;
    z-index: -1;
}
.fondo2
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('fondo2.jpg') center/cover no-repeat;
    opacity: 0.7;
    z-index: -1;
}
.fondo3
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('fondo3.jpg') center/cover no-repeat;
    opacity: 0.7;
    z-index: -1;    
}

.titulo1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    text-align: center;
    color: #333;
    animation: aparecerDesdeArriba 2s ease-out forwards;
    opacity: 0;
}
@keyframes aparecerDesdeArriba {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.parrafo
{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgba(206, 176, 152, 0.8);
    border-radius: 8px;
    box-shadow: 0 9px 40px rgba(233, 129, 9, 0.815);
    justify-content: center;
    text-align: center;
}
.bvideo
{
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 9px 40px rgba(233, 129, 9, 0.815);
    justify-content: center;
}
.subtitulo
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-align: center;
    color: #333;
    animation: aparecerDesdeArriba 2s ease-out forwards;
    opacity: 0;
    width: 50%;
    text-align: center;

}
@keyframes aparecerDesdeArriba {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    --glow-color: rgb(212, 106, 73);
    --glow-spread-color: rgba(253, 230, 95, 0.781);
    --enhanced-glow-color: rgb(228, 40, 15);
    --btn-color: rgb(236, 211, 222);
    border: .25em solid var(#c8f037);
    padding: 1em 1em;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(228, 196, 15);

}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.9em) rotateX(40deg) scale(1, .9);
}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .29em var(--glow-color);
}

